<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>lzc Company Home Page</title>
</head>
<body>
<h2>lzc Company Home Page wuwuwuwuw!</h2>
<hr>
<p>
    Welcome to lzc company! </p>

<hr>

<p>
    User: <span sec:authentication="principal.username"></span>
    <br><br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>



<hr>

<p>
    <a th:href="@{/leaders}">Leadership Meeting</a>
    (only available for managers)
</p>
<hr>

<p>
    <a th:href="@{/systems}">IT system Meeting</a>
    (only available for admin peeps)
</p>

 <!-- add the logout-->

<form method="POST" action="#" th:action="@{/logout}">
<input type="submit"  value="Logout" />

</form>
</body>
</html>